.body-background {
    position: fixed;
    left: 0; width: 100%;
    top: 0; height: 100%;
    overflow: hidden;
    z-index: -1;
    pointer-events: none;

    &__noise {
        position: absolute;
        right: 0; left: 0;
        top: 0; bottom: 0;
        z-index: 3;
        opacity: 0.15;
        mix-blend-mode: luminosity;
        background: $gray300 url(../img/noise.svg);
    }

    &__blur {
        position: absolute;
        right: 0; left: 0;
        top: 0; bottom: 0;
        z-index: 2;
        backdrop-filter: blur(50px);
        background: rgba(237, 245, 255, 0.3);
        opacity: 0.3;
    }
}

.header-background {
    position: absolute;
    left: 0; width: 100%;
    top: 0; height: 100%;
    overflow: hidden;
    z-index: -2;
    pointer-events: none;

    &__gradient {
        position: absolute;
        right: -8vw;
        top: -26vw;
        width: 62vw;
        z-index: 1;

        @media screen and (max-width: $breakpoint768) {
            width: 80vw;
        }
    }
}