* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

*,
*::after,
*::before {
    transition: .5s ease all;
}

.container {
    max-width: calc($conteinerWidth + 2 * $containerPadding);
    width: 100%;
    margin: 0 auto;
    padding: 0 $containerPadding;

    &__wrapper {
        padding-left: 40px;
        padding-right: 40px;

        @media screen and (max-width: $breakpoint768) {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    @media screen and (max-width: $breakpoint576) {
        max-width: calc($conteinerWidth + $containerPadding);
        padding: 0 calc($containerPadding / 2);

        &__wrapper {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

html,
body {
    max-width: 100vw;
    min-height: 100vh;
    scroll-behavior: smooth;
    background: $gray300;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    background: none;
}

.lock {
    overflow-y: hidden;
    overflow-x: hidden;
}

.mark-orange {
    color: $orangePrimary;
}