@mixin header-bg {
    background: rgba($color: $white, $alpha: .5);
    backdrop-filter: blur(15px) brightness(1.1);
    -webkit-backdrop-filter: blur(15px) brightness(1.1);
    box-shadow: 0 15px 25px -10px rgba(0, 0, 0, 0.1);

    .header__check:hover {
        background-color: rgba($color: $colorSecondary, $alpha: .1);
    }

    .header__phone-icon:hover {
        background-color: rgba($color: $colorSecondary, $alpha: .1);
    }

    .header__menu-link:hover,
    .header__menu-link.active {
        background-color: rgba($color: $colorSecondary, $alpha: .1) !important;
    }

    .header__phone-link:hover {
        background-color: rgba($color: $colorSecondary, $alpha: .1);
    }
}

.header {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
    width: calc(100% - 2 * $bodyXPadding);
    max-width: $conteinerWidth;
    transition: .3s ease all;

    @media screen and (max-width: $breakpoint576) {
        width: calc(100% - 2 * 20px);
        top: 10px;
    }

    &_scrolled {
        translate: 0 -100%;
        top: -10px;

        @media screen and (max-width: $breakpoint576) {
            .header__menu_active {
                top: 110px;
                height: calc(100dvh - 20px);
            }
        }
    }

    // .header__nav
    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        padding: 30px;
        height: 120px;
        margin: 0 -30px;
        border-radius: 32px;
        transition: .5s ease all;

        @media screen and (max-width: $breakpoint768) {
            @include header-bg;
        }

        @media screen and (max-width: $breakpoint576) {
            margin: 0 -10px;
        }

        &_bg {
            @include header-bg;
        }

        // .header__nav_active
        &.header__nav_active {
            @extend .header__nav_bg;
            border-radius: 0;
            flex-wrap: wrap;
            align-items: unset;
            height: 100dvh;
            
            padding: 50px;
            @media screen and (max-width: $breakpoint768) {
                padding: 40px;
            }
            @media screen and (max-width: $breakpoint576) {
                padding: 50px 40px;
            }

            .header__logo {
                align-self: flex-start;
                order: 1;
            }

            .header__menu {
                order: 3;
                flex: 0 0 100%;
            }

            .header__contact {
                order: 4;
                flex: 0 0 100%;
            }

            .header__burger {
                order: 2;
            }
        }

        @media screen and (max-width: $breakpoint768) {
            border-radius: 16px;
            height: 90px;
        }

    }

    // .header__logo
    &__logo {
        flex: 0 1 250px;

        @media screen and (max-width: $breakpoint1600) {
            flex: 0 1 auto;
        }

        img {
            max-width: 250px;
            width: 100%;
            display: block;

            @media screen and (max-width: $breakpoint576) {
                max-width: 200px;
            }
        }
    }

    // .header__menu
    &__menu {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        gap: 4px;
        
        @media screen and (max-width: $burgerBreakpoint) {
            display: none;
            flex-direction: column;
            justify-content: unset;

            &_active {
                overflow-x: scroll;
                display: flex;
                position: fixed;
                z-index: 9;
                left: 0;
                top: 140px;
                width: 100%;
                padding: 30px;
                height: calc(100dvh - 180px);
                border-radius: 32px;
                transition: 0.5s ease all;
                background: rgba(255, 255, 255, 0.95);
                backdrop-filter: blur(15px) brightness(1.1);
                -webkit-backdrop-filter: blur(15px) brightness(1.1);
                box-shadow: 0 15px 25px -10px rgba(0, 0, 0, 0.1);

                &::-webkit-scrollbar {
                    display: none;
                }
            }
        }

        @media screen and (max-width: $breakpoint768) {
            &_active {
                border-radius: 16px;
                left: 0;
                top: 110px;
                padding: 10px;
                height: calc(100dvh - 150px);
            }
        }

        @media screen and (max-width: $breakpoint576) {
            &_active {
                top: 100px;
                height: calc(100dvh - 120px);
            }
        }
    }

    // .header__menu-item
    &__menu-item {

        &.has-drop {

            .header__menu-link {

                &:after {
                    content: "";
                    display: inline-block;
                    width: 24px;
                    height: 24px;
                    background-color: $black;
                    -webkit-mask: url(/img/icon-unfold.svg) no-repeat 50% 50%;
                    mask: url(/img/icon-unfold.svg) no-repeat 50% 50%;
                    -webkit-mask-size: cover;
                    mask-size: cover;
                    transition: all .3s;
                }

                &.active {
                    color: $colorPrimary;
                    background-color: rgba($color: $white, $alpha: .8);

                    &:after {
                        -webkit-mask: url(/img/icon-fold.svg) no-repeat 50% 50%;
                        mask: url(/img/icon-fold.svg) no-repeat 50% 50%;
                    }
                }
            }

        }

        @media screen and (max-width: $breakpoint1200) {
            &:first-child {
                margin-top: auto;
            }
        }

    }

    // .header__menu-link
    &__menu-link {
        padding: 9px 16px 7px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        border-radius: 16px;
        height: 48px;
        display: flex;
        gap: 8px;
        align-items: center;
        line-height: 140%;
        color: $black;
        font-family: $headersFont;
        text-transform: uppercase;

        @media (hover: hover) {
            &:hover {
                color: $colorPrimary;
                background-color: rgba($color: $white, $alpha: .8);
            }
        }

        @media screen and (max-width: $burgerBreakpoint) {
            font-size: 20px;
        }

        ._active {
            background-color: rgba($color: $white, $alpha: .8);
        }

    }

    &__menu-icon {
        display: flex;

        svg {
            display: block;
        }

        @media screen and (max-width: $breakpoint1366) and (min-width: $burgerBreakpoint) {
            svg {
                width: 26px;
                height: 26px;
            }
        }
    }

    // .header__contact
    &__contact {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 24px;
        flex-shrink: 0;

        @media screen and (max-width: $burgerBreakpoint) {
            margin-left: auto;

            &_active {
                display: flex;
            }
        }

        @media screen and (max-width: $breakpoint1200) {
            justify-content: center;
            flex-direction: column;
            margin-left: 0;
            margin-top: auto;
        }
    }

    // .header__contact-item
    &__contact-item {
        display: flex;
        align-items: center;
    }

    // .header__check
    &__check {
        gap: 8px;
        padding: 9px 16px 7px;
        border-radius: 16px;
        height: 48px;
        display: flex;
        align-items: center;

        &-icon {
            display: flex;

            svg {
                width: 32px;
                height: 32px;
            }
        }

        &:hover {
            background-color: rgba($color: $white, $alpha: .8);

            .header__check-text {
                color: $colorPrimary;
            }
        }
    }

    // .header__check-text
    &__check-text {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        color: $black;
        font-family: $headersFont;
        text-transform: uppercase;
    }

    // .header__phone
    &__phone {
        gap: 4px;

        @media screen and (max-width: $breakpoint1200) {
            flex-direction: column;
        }
    }

    // .header__phone-icons
    &__phone-icons {
        display: flex;
        align-items: center;
        gap: 4px;

        svg {
            width: 32px;
            height: 32px;
        }
    }

    // .header__phone-icon
    &__phone-icon {
        display: flex;
        padding: 8px;
        border-radius: 16px;

        @media screen and (max-width: $breakpoint1366) and (min-width: $burgerBreakpoint) {
            svg {
                width: 28px;
                height: 28px;
            }
        }

        &:hover {
            background-color: rgba($color: $white, $alpha: .8);
        }
    }

    // .header__phone-link
    &__phone-link {
        height: 48px;
        display: flex;
        align-items: center;
        padding: 9px 16px 7px;
        border-radius: 16px;
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 145%;
        letter-spacing: -0.01em;
        font-family: $headersFont;
        color: $black;

        &:hover {
            background-color: rgba($color: $white, $alpha: .8);
            color: $colorPrimary;
        }

    }

    // .header__burger
    &__burger {
        display: none;
        position: relative;
        z-index: 10;
        height: 48px;
        width: 48px;
        min-width: 48px;
        min-height: 48px;
        padding: 10px;
        border-radius: 16px;
        background-color: rgba(255, 255, 255, 0.8);

        // .header__burger_active
        &.header__burger_active {
            span {
                opacity: 0;
            }

            &::before {
                rotate: 45deg;
                top: 50%;
                translate: 0 -50%;
            }

            &::after {
                rotate: -45deg;
                bottom: 50%;
                translate: 0 50%;
            }
        }

        &::before,
        &::after,
        span {
            width: 100%;
            height: 2px;
            background-color: $black;
            border-radius: 1px;
            transition: .2s ease all;
        }

        &::before {
            content: "";
            position: absolute;
            left: 10px;
            top: 14px;
            width: calc(100% - 20px);
        }

        &::after {
            content: "";
            position: absolute;
            left: 10px;
            bottom: 14px;
            width: calc(100% - 20px);
        }

        span {

        }

        @media screen and (max-width: $burgerBreakpoint) {
            display: flex;
            align-items: center;
        }
        
    }
}

.header * {
    transition: .5s ease all;
}

.header-backing {
    height: 120px;

    @media screen and (max-width: $breakpoint1366) {
        height: 90px;
    }
}

.drop-menu {
    display: none;
    position: fixed;
    z-index: 9;
    // left: 20px;
    left: 0;
    // top: 160px;
    top: 0;
    // width: calc(100dvw - 40px);
    width: 100%;
    padding: 30px;
    // height: calc(100dvh - 180px);
    height: 100%;
    border-radius: 32px;
    transition: 0.5s ease all;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(15px) brightness(1.1);
    -webkit-backdrop-filter: blur(15px) brightness(1.1);
    box-shadow: 0 15px 25px -10px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 60px;

    @media screen and (max-width: $breakpoint1600) {
        gap: unset;
        flex-wrap: nowrap;
        overflow: scroll;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    @media screen and (max-width: $breakpoint768) {
        border-radius: 16px;
        padding: 30px 20px;
        // height: calc(100dvh - 150px);
        // top: 130px;
    }

    @media screen and (max-width: $breakpoint576) {
        // top: 110px;
        // left: 10px;
        padding: 30px 10px;
        // width: calc(100dvw - 20px);
        // height: calc(100dvh - 120px);
        
    }

    &__header {
        display: none;
        align-items: center;
        gap: 12px;
        padding-bottom: 30px;
        margin-bottom: 6px;
        border-bottom: 1px solid $borderColor;

        @media screen and (max-width: $breakpoint1600) {
            display: flex;
        }

        span {
            font-weight: 600;

            @media screen and (max-width: $breakpoint1600) {
                font-family: $headersFont;
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 165%;
                color: $black;
            }
        }
    }

    &__section {
        max-width: 538px;

        @media screen and (max-width: $breakpoint1600) {
            max-width: 100%;
            padding: 12px 0;
        }
    }

    &__title {
        display: flex;
        align-items: center;
        gap: 16px;
        font-weight: 600;
        color: $black;

        svg {
            width: 32px;
        }
    }

    &__list {

        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        @media screen and (max-width: $breakpoint1600) {
            display: none;
            gap: unset;

            &_active {
                display: flex;
            }
        }


        &-item {

        }
    }

    &__link {
        color: $gray500;
        @media screen and (max-width: $breakpoint1600) {
            padding-top: 12px;
            padding-bottom: 12px;
            display: flex;
            width: 100%;

            font-family: $headersFont;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 165%;
            color: $black;
        }
    }

    &__close {
        flex: 0 0 100%;
        align-self: flex-end;
        display: flex;
        flex-direction: column;

        @media screen and (max-width: $breakpoint1600) {
            display: none;
        }
    }

    &__btn {
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 10px 30px;
        border: 2px solid $borderColor;
        background-color: unset;
        border-radius: 100px;
        margin-top: auto;
    }
}

