.high-level-service-section {
}

.high-level-service {
    display: flex;
    // justify-content: center;
    gap: 20px;
    width: 100%;
    overflow: scroll;

    & > * {
        flex: 0 0 calc(33.33% - 20px * 2 / 3);
        max-width: 614px;
    }
}
