.modal-wrapper {
    position: fixed;
    z-index: 10;
    top: 0; bottom: 0;
    left: 0; right: 0;
    background-color: rgba(0, 0, 0, .2);

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0 20px;

}

.modal {

    @extend .card;
    max-width: 1000px;
    width: 100%;
    position: relative;

    // .modal__title
    &__title {
        margin-bottom: 40px;
        color: $black;
        @media screen and (max-width: $breakpoint768) {
            max-width: 80%;
        }
    }

    // .modal__inputs
    &__inputs {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 24px;
    }

    // .modal__confirm
    &__confirm {
        margin-bottom: 24px;
    }

    // .modal__close
    &__close {
        @extend .header__burger_active;
        @extend .header__burger;

        position: absolute;
        top: 40px;
        right: 40px;

        @media screen and (max-width: $breakpoint768) {
            right: 20px;
        }
    }
}

