.raiting-slider {

    @media screen and (max-width: $breakpoint576) {

    }
}
.raiting-slide {

    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    width: 750px !important;

    @media screen and (max-width: $breakpoint1200) {
        width: 600px !important;
    }

    @media screen and (max-width: $breakpoint992) {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    @media screen and (max-width: $breakpoint768) {
        padding-top: 20px;
        padding-bottom: 20px;
        width: 500px !important;
    }

    @media screen and (max-width: $breakpoint576) {
        width: 335px !important;
    }

    // .raiting-slide__header
    &__header {
        display: flex;
        flex-direction: column;
    }

    // .raiting-slide__quotes
    &__quotes {
        align-self: flex-end;
        margin-bottom: 30px;

        @media screen and (max-width: $breakpoint992) {
            margin-bottom: 20px;
        }

        @media screen and (max-width: $breakpoint576) {
            img {
                width: 32px;
            }
        }
    }

    // .raiting-slide__title
    &__title {
        @extend .h4;
        margin-bottom: 10px;
    }

    // .raiting-slide__date
    &__date {
        @extend .text-3;
        color: $gray400;
    }

    // .raiting-slide__body
    &__body {
        @extend .text-3;
        color: $black;
        margin-top: 40px;
        margin-bottom: 80px;

        @media screen and (max-width: $breakpoint992) {
            margin-top: 20px;
            margin-bottom: 40px;
        }
    }

    // .raiting-slide__footer
    &__footer {
        margin-top: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 80px;

        @media screen and (max-width: $breakpoint992) {
            gap: 20px;
            flex-direction: column;
            align-items: flex-start;
        }
    }

    // .raiting-slide__raiting
    &__raiting {
        background-color: $colorPrimary;
        border-radius: 15px;
        padding: 20px;
        text-align: center;
        flex: 0 0 max-content;
    }

    // .raiting-slide__raiting-point
    &__raiting-point {
        font-family: HalvarBreit;
        font-weight: 700;
        font-size: 34px;
        line-height: 100%;
        letter-spacing: -0.01em;
        color: $white;

        @media screen and (max-width: $breakpoint1200) {
            font-size: 30px;
        }
    
        @media screen and (max-width: $breakpoint992) {
            font-size: 26px;
        }
    }

    // .raiting-slide__raiting-stars
    &__raiting-stars {
        margin-top: 15px;
        display: flex;
        gap: 5px;
    }

    // .raiting-slide__list
    &__list {
        flex: 1 1 max-content;

        @media screen and (max-width: $breakpoint992) {
            padding-left: 10px;
        }
    }

    // .raiting-slide__list-item
    &__list-item {
        @extend .text-3;

        span {
            line-height: 155%;
            font-weight: 700;
            margin-right: 20px;
            color: $black;
            display: inline-block;
            vertical-align: top;

            @media screen and (max-width: $breakpoint992) {
                margin-right: 10px;
            }
        }
    }
}
.raiting-banner {

    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 60px;
    display: flex;
    align-items: center;
    background: $white url(../img/raiting/banner-bg.png) right 50% / 102.4% auto no-repeat;

    @media screen and (max-width: $breakpoint992) {
        margin-top: 40px;
    }

    @media screen and (max-width: $breakpoint768) {
        flex-direction: column;
        align-items: flex-start;
        background: $white url(../img/raiting/banner-bg.png) 50% 50% / 172% auto no-repeat;
    }

    @media screen and (max-width: $breakpoint480) {
        background: $white url(../img/raiting/banner-bg.png) 50% 50% / 270% auto no-repeat;
    }

    // .raiting-banner__img
    &__img {
        width: 170px;
        height: 170px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        @media screen and (max-width: $breakpoint1200) {
            height: 140px;
            width: 140px;
        }

        @media screen and (max-width: $breakpoint992) {
            height: unset;
            width: unset;
            overflow: unset;
        }

        img {
            height: 130px;

            @media screen and (max-width: $breakpoint1200) {
                height: 100px;
            }

            @media screen and (max-width: $breakpoint992) {
                height: 85px;
            }
        }
    }

    // .raiting-banner__content
    &__content {
        margin-left: 20px;

        @media screen and (max-width: $breakpoint768) {
            margin-left: 0;
            margin-top: 20px;
        }
    }

    // .raiting-banner__title
    &__title {
        @extend .h4;

        img {
            display: inline-block;
        }
    }

    // .raiting-banner__text
    &__text {
        @extend .text-2;
        margin-top: 5px;
        color: $gray500;
    }
}

