.section {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (max-width: $breakpoint768) {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    &__header {

        margin-bottom: 40px;
        
        @media screen and (max-width: $breakpoint768) {
            margin-bottom: 40px;
        }
    }

    &__title {
        &_centered {
            text-align: center;
            margin: 0 auto;
        }
        &_mw_900 {
            max-width: 900px;
        }
    }

    &__desc {
        margin-bottom: 40px;

        display: flex;
        flex-direction: column;
        gap: 60px;

        p {
            @include text-2;

            span {
                color: $colorPrimary;
            }
        }
    }

    &__body {

        margin: 0 -40px;
        position: relative;

        @media screen and (max-width: $breakpoint576) {
            margin: 0 -20px;
        }

        &_wrapped {
            & > * {
                display: flex;
                gap: 20px;
                flex-wrap: wrap;
            }
        }

        &_slider {
            margin: 0 -60px;

            @media screen and (max-width: $breakpoint576) {
                margin: 0 -40px;
            }

            & > * {
                overflow-x: scroll;
                overflow-y: hidden;
                display: flex;
                padding: 0 20px !important;
                gap: 20px;
                width: 100%;
                &::-webkit-scrollbar {
                    display: none;
                }

                & > * {
                    min-width: 275px;
                }
            }
        }

        &_m_0 {
            margin: 0;
        }

    }

    &__btns {
        display: flex;
        align-items: center;
        gap: 20px;

        @media screen and (max-width: $breakpoint576) {
            flex-direction: column;

            .section__btn:not(:first-child) {
                margin-top: 0;
            }
        }
    }

    &__btn {
        margin-top: 80px;

        @media screen and (max-width: $breakpoint992) {
            margin-top: 60px;
        }
    
        @media screen and (max-width: $breakpoint768) {
            margin-top: 40px;
        }


        &_centered {
            @extend .section__btn;
            display: flex;
            justify-content: center;
        }
    }

    &__white-block {
        border-radius: 30px;
        background-color: $white;

        @media screen and (max-width: $breakpoint768) {
            border-radius: 18px;
        }
    }
}


.card {
    border-radius: 30px;
    background-color: $white;
    padding: 40px;

    @media screen and (max-width: $breakpoint768) {
        border-radius: 18px;
        // padding-top: 20px;
        // padding-bottom: 20px;
    }

    &__title {

        span {
            color: $colorPrimary;
        }
    }

    &__header {
        padding-bottom: 40px;
        margin-bottom: 40px;

        @media screen and (max-width: $breakpoint768) {
            padding-bottom: 20px;
            margin-bottom: 20px;
        }

        &_border {
            position: relative;
            border-bottom: 1px solid $borderColor;

            &::before {
                content: '';
                position: absolute;
                height: 1px;
                background-color: $borderColor;
                bottom: -1px;
                left: -40px;
                right: 100%;
            }

            
            &::after {
                content: '';
                position: absolute;
                height: 1px;
                background-color: $borderColor;
                bottom: -1px;
                right: -40px;
                left: 100%;
            }
        }

        &_pb_0 {
            padding-bottom: 0;
        }
    }

    &__footer {

        padding-top: 40px;
        margin-top: 40px;

        @media screen and (max-width: $breakpoint768) {
            padding-top: 20px;
            margin-top: 20px;
        }

        &_border {
            border-top: 1px solid $borderColor;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                height: 1px;
                background-color: $borderColor;
                top: -1px;
                left: -40px;
                right: 100%;
            }

            
            &::after {
                content: '';
                position: absolute;
                height: 1px;
                background-color: $borderColor;
                top: -1px;
                right: -40px;
                left: 100%;
            }
        }
    }

    &_blue {
        background-color: $colorSecondary;

        .card__title {
            color: $white;
        }
    }

    &_gray {
        background-color: #F1F4F9;
    }

}

.icon-cards {



    &_mobile_slider {
        @media screen and (max-width: $breakpoint1200) {
            margin: 0 -20px;
            padding: 0 20px;
            width: 100vw;
            flex-wrap: nowrap;
            overflow: auto;
            overflow-y: hidden;

            .icon-card {
                min-width: 350px;                
            }
        }
    }

}

.icon-card {
    @extend .card;
    padding: 60px 40px;

    &_1_6 {
        flex-basis: calc(100% / 6 - 20px * 5 / 6);

        @media screen and (max-width: $breakpoint1200) {
            flex-basis: calc(33.33% - 20px * 2 / 3);
        }
    }

    &_1_5 {
        flex-basis: calc(20% - 20px * 4 / 5);

        @media screen and (max-width: $breakpoint1200) {
            flex-basis: calc(33.33% - 20px * 2 / 3);
        }
    }

    &_1_4 {
        flex-basis: calc(25% - 20px * 3 / 4);

        @media screen and (max-width: $breakpoint1200) {
            flex-basis: calc(33.33% - 20px * 2 / 3);
        }
    }

    &_1_3 {
        flex-basis: calc(33.33% - 20px * 2 / 3);

        @media screen and (max-width: $breakpoint1200) {

        }
    }

    &__icon {
        width: 50px;
        height: 50px;
        margin-bottom: 30px;

        svg {
            width: 100%;
        }
    }

    &__title {
        margin-bottom: 20px;
        color: $black;
        word-break: break-all;
    }

    &__text {
        color: $black;
    }
}

.image-card {

    @extend .card;
    padding: 10px 10px 40px;
    display: flex;
    flex-direction: column;
    min-width: min(calc(100% - 40px), 350px);

    &_row {
        min-height: 280px;
        padding: 10px;
        display: flex;
        flex-direction: row;

        @media screen and (max-width: $breakpoint1200) {
            flex-direction: column;
        }

        .image-card__img {
            margin-bottom: 0;
            height: 100%;
            flex: 0 0 32%;
            min-width: 250px;

            @media screen and (max-width: $breakpoint1200) {
                height: 200px;
                flex: unset
            }
        }

        .image-card__content {
            padding: 30px 30px 30px 40px;
            flex-grow: 1;

            @media screen and (max-width: $breakpoint1200) {
                padding: 20px 10px;
            }
        }

        &_reverse {
            flex-direction: row-reverse;

            @media screen and (max-width: $breakpoint1200) {
                flex-direction: column;
            }

            .image-card__content {
                padding: 30px 40px 30px 30px;

                @media screen and (max-width: $breakpoint1200) {
                    padding: 20px 10px;
                }
            }
        }
    }

    &_centered {
        text-align: center;

        .image-card__content {
            align-items: center;
        }
    }

    &_1_2 {
        flex: 0 0 calc(50% - 20px / 2);

        @media screen and (max-width: $breakpoint1200) {
            flex: 0 0 100%;
        }
    }

    &_1_3 {

    }

    // .image-card__img
    &__img {
        margin-bottom: 30px;
        border-radius: 20px;
        background-color: #EFF3F9;
        height: 260px;

        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: $breakpoint1200) {
            height: 200px;
        }

        @media screen and (max-width: $breakpoint768) {
            border-radius: 8px;
        }

        &_bg_white {
            background-color: unset;
        }

        img {
            max-height: 100%;
            max-width: 100%;
            width: auto;
            height: auto;
        }
    }

    // .image-card__content
    &__content {
        padding: 0 30px;
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        @media screen and (max-width: $breakpoint576) {
            padding: 0 10px;
        }
    }

    // .image-card__title
    &__title {
        color: $black;
        margin-bottom: 14px;
        word-break: break-word;

        span {
            color: $colorPrimary;
        }
    }

    // .image-card__text
    &__text {
        color: $gray500;

        &:not(:last-child) {
            margin-bottom: 40px;
        }

        span {
            color: $black;
        }
    }

    // .image-card__btn
    &__btn {
        margin-top: auto;
    }
}

.num-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    & > * {
        flex: 0 0 calc(33.33% - 20px * 2 / 3);


        @media screen and (max-width: $breakpoint992) {
            flex: 0 0 calc(50% - 20px * 1 / 2);
        }
        
        @media screen and (max-width: $breakpoint768) {
            flex: 0 0 100%;
        }
    }
}

.num-card {
    @extend .card;

    &__num {
        width: 42px;
        height: 42px;
        border-radius: 50%;
        background: $colorSecondary;
        margin-bottom: 60px;

        display: flex;
        align-items: center;
        justify-content: center;

        @include desktop-case-numbers-s;
        color: $white;

        @media screen and (max-width: $breakpoint768) {
            margin-bottom: 30px;
        }
    }

    &__title {
        color: $black;
        word-break: break-word;
    }
}