.sectors {

    overflow: scroll;
    overflow-y: hidden;

    &::-webkit-scrollbar {
        display: none;
    }

    @media screen and (max-width: $breakpoint768) {
        margin: 0 -60px;
        width: 100vw;
    }

    @media screen and (max-width: $breakpoint576) {
        margin: 0 -40px;
    }

    &__inner {
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: center;
        max-width: 1480px;
        margin: 0 auto;
        min-width: 800px;

        @media screen and (max-width: $breakpoint992) {
            justify-content: flex-start;
            gap: 10px;
        }

        @media screen and (max-width: $breakpoint768) {
            padding: 0 20px;
        }

    }
}