.commission-section {

    position: relative;

    &__gradient {
        position: absolute;
        z-index: -1;
        top: -6vw;
        right: -10vw;
        width: 71vw;

        @media screen and (max-width: $breakpoint768) {
            top: 0;
            width: 90vw;
        }
    }

    // .commission-section__footer-item
    &__footer-item {
        @extend .desktop-list;

        display: flex;
        align-items: flex-start;
        gap: 20px;

        &:not(:last-of-type) {
            margin-bottom: 10px;
        }

        img {
            display: block;
        }
    }
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

    @media screen and (max-width: $breakpoint992) {
        gap: 10px;
    }

    @media screen and (max-width: $breakpoint768) {
        padding-bottom: 20px;
    }
}

.tag {
    padding: 20px 30px;
    border-radius: 100px;
    background-color: rgba($color: #C8D5E8, $alpha: .2);

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: -0.01em;
    color: $black;

    display: flex;
    align-items: center;
    gap: 10px;


    @media screen and (max-width: $breakpoint1400) {
        font-size: 18px;
        padding: 16px 24px;

        img {
            width: 34px;
        }
    }

    @media screen and (max-width: $breakpoint768) {
        font-size: 16px;
        padding: 12px 18px;

        img {
            width: 28px;
        }
    }
}



.services-cards {
    display: flex;
    gap: 20px;

    @media screen and (max-width: $breakpoint992) {
        flex-direction: column;
    }
}

.services-card {
    @include inner-x-padding;
    flex: 0 0 calc(50% - 10px);
    padding-top: 80px;
    padding-bottom: 80px;

    &:first-of-type {
        background: $colorSecondary url(../img/services/card-1-bg.png) -20% 50% / 172% auto no-repeat;
    }

    &:last-of-type {
        background: $colorSecondary url(../img/services/card-2-bg.png) -50% 30% / auto 220% no-repeat;
    }

    @media screen and (max-width: $breakpoint1200) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @media screen and (max-width: $breakpoint992) {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    @media screen and (max-width: $breakpoint768) {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    // .services-card__title
    &__title {
        color: $white;
    }

    // .services-card__list
    &__list {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    // .services-card__list-item
    &__list-item {
        @extend .desktop-list;
        color: $white;
        display: flex;
        align-items: flex-start;
        gap: 18px;

        @media screen and (max-width: $breakpoint768) {
            gap: 10px;
        }
    }
}

