// Body
$bodyYPadding: 20 + px;
$bodyXPadding: 50 + px;

// Container
$conteinerWidth: 2000 + px;

// Breakpoints
$breakpoint1600: 1599.98 + px;
$breakpoint1400: 1399.98 + px;
$breakpoint1366: 1365.98 + px;
$breakpoint1230: 1229.98 + px;
$breakpoint1200: 1199.98 + px;
$breakpoint1024: 1023.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint576: 575.98 + px;
$breakpoint480: 479.98 + px;

// Colors
$colorPrimary: #FF6C22;
$colorSecondary: #1771F1;
$black: #383838;
$white: #FFF;
$gray500: #6B7E99;
$gray400: #9FAEC2;
$gray300: #EDF5FF;
$borderColor: #DAE3F0;
$white50: rgb(255 255 255 / 50%);

// Fonts
$textFont: 'Montserrat';
$headersFont: 'HalvarBreit';

// Burger
$burgerBreakpoint: $breakpoint1600;

// Transitions
$quickTransition: 120ms ease-out;